<plugin
	id="plugins.vpcli"
	name="VP CLI"
	description="CLI for Visual Paradigm"
	provider="Zhong Jing"
	class="plugins.vpcli.VPCLI"
	version="1.0.0">
        
	<actionSets>
		<actionSet id="plugins.vpcli.actionset">
			<action
					id="VPCLI-Help"
					actionType="generalAction"
					label="CLI"
					tooltip="VP CLI Help"
					style="normal"
					icon="icons/puml-icon.png"
					ribbonPath="Help/Update">
<!--				ribbonPath="Project/Export/XML">-->
				<actionController
						class="plugins.vpcli.actions.HelpController"/>
			</action>
		</actionSet>
	</actionSets>
</plugin>