<plugin
	id="plugins.vpcli"
	name="PlantUML Support"
	description="Import from / Export to PlantUML"
	provider="NataliaSoftlabNtua"
	class="plugins.vpcli.PlantUML"
	version="1.0.0">
        
	<actionSets>
		<actionSet id="plugins.vpcli.actionset">
			<action
					id="ExportActiveAction"
					actionType="generalAction"
					label="Active Diagram as PlantUML..."
					tooltip="Active Diagram as PlantUML..."
					style="normal"
					icon="icons/puml-icon.png"
					ribbonPath="Project/Export/XML">
				<actionController
						class="plugins.vpcli.actions.PlantUMLExportActiveController"/>
			</action>
		</actionSet>
	</actionSets>
</plugin>